<div class="radio">
    <input type="radio" name="All" value="All" [(ngModel)]="selectedradio" (change)="changeinradio()"><span>All</span>
    <input type="radio" name="Men" value="men's clothing" [(ngModel)]="selectedradio" (change)="changeinradio()"><span>Men</span>
    <input type="radio" name="Women" value="women's clothing" [(ngModel)]="selectedradio" (change)="changeinradio()"><span>Women</span>
    <input type="radio" name="Jewelery" value="jewelery" [(ngModel)]="selectedradio" (change)="changeinradio()"><span>Jewelery</span>
    <input type="radio" name="Jewelery" value="electronics" [(ngModel)]="selectedradio" (change)="changeinradio()"><span>Electronics</span>
  </div>